<div class="movie card">
  <div class="card-content row">
    <div class="col s4">
      <img [src]="poster">
      <button (click)="like()" class="btn" [style.backgroundColor]="isLiked ? '#26a69a' : '#2196f3'">
        {{isLiked ? 'Liked' : 'Like'}}
      </button>
    </div>
    <div class="col s8">
      <div class="title">
        {{title}}
        <span>({{year}})</span>
      </div>
      <div class="details">
        {{duration}} | {{genre}}
      </div>
      <hr>
      <div class="plot">
        {{plot}}
      </div>
      <br />
      <p [style.fontWeight]="'bold'">Comments:</p>
      <p *ngIf="isSaved">{{comment}}</p>
      <div *ngIf="!isSaved">
        <textarea [(ngModel)]="comment"></textarea>
        <p>{{getWords()}} words</p>
        <br />
        <button (click)="clear()" class="btn" [disabled]="comment.length <= 0">Clear</button>
        <button (click)="save()" class="btn" [disabled]="comment.length <= 0">Save</button>
      </div>
    </div>
  </div>
</div>
