<div class="movie card">
  <div class="card-content row">
    <div class="col s4">
      <img [src]="movie.poster">
      <button *ngIf="!movie.isLiked" (click)="like()" class="btn" [style.backgroundColor]="movie.isLiked ? '#26a69a' : '#2196f3'">
        {{movie.isLiked ? 'Liked' : 'Like'}}
      </button>
      <rating-component
        *ngIf="movie.isLiked"
        [rating]="movieRating"
        (ratingChange)="handleRatingChange($event)"
      ></rating-component>
    </div>
    <div class="col s8">
      <div class="movie.title">
        {{title}}
        <span>({{movie.year}})</span>
      </div>
      <div class="movie.details">
        {{movie.duration}} | {{movie.genre}}
      </div>
      <hr>
      <div class="plot">
        {{movie.plot}}
      </div>
      <br />
      <p [style.fontWeight]="'bold'">Comments:</p>
      <p *ngIf="movie.commentSaved">{{movie.comment}}</p>
      <div *ngIf="!movie.commentSaved">
        <textarea [(ngModel)]="movie.comment"></textarea>
        <p>{{getWords(movie.comment)}} words</p>
        <br />
        <button (click)="save()" class="btn" [disabled]="movie.comment.length <= 0">Save</button>
        <button (click)="delete()" class="btn red">Delete</button>
      </div>
    </div>
  </div>
</div>
